<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="false"?>
      <fileTypes type="text" extension="sbd"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="false"?>
      <parser
         type="sbd"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="false"?>
      <editor
         id="storyboards.diagram.part.StoryboardsDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/StoryboardsDiagramFile.gif"
         extensions="sbd"
         default="true"
         class="storyboards.diagram.part.StoryboardsDiagramEditor"
         matchingStrategy="storyboards.diagram.part.StoryboardsMatchingStrategy"
         contributorClass="storyboards.diagram.part.StoryboardsDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="storyboards.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="false"?>
      <category
            name="Storyboard Creator"
            id="Storyboards">
      </category>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/StoryboardsDiagramFile.gif"
  	     category="Storyboards"
  	     class="storyboards.diagram.part.StoryboardsCreationWizard"
  	     id="storyboards.diagram.part.StoryboardsCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.importWizards" id="import-wizard">
      <?gmfgen generated="false"?>
      <category
            name="Storyboard Creator"
            id="Storyboards">
      </category>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/StoryboardsDiagramFile.gif"
  	     category="Storyboards"
  	     class="storyboards.diagram.part.StoryboardsImportWizard"
  	     id="storyboards.diagram.part.StoryboardsImportWizardID">
  	  	 <description>%importWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.exportWizards" id="export-wizard">
      <?gmfgen generated="false"?>
      <category
            name="Storyboard Creator"
            id="Storyboards">
      </category>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/StoryboardsDiagramFile.gif"
  	     category="Storyboards"
  	     class="storyboards.diagram.part.StoryboardsExportWizard"
  	     id="storyboards.diagram.part.StoryboardsExportWizardID">
  	  	 <description>%exportWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <?gmfgen generated="false"?>
      <layoutProvider class="storyboards.diagram.providers.StoryboardsLayoutProvider">
         <Priority name="High"></Priority>
      </layoutProvider>
   </extension> 

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="Storyboards.diagram.InitDiagram"
            nameFilter="*.storyboards"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="storyboards.diagram.part.StoryboardsInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="Storyboards.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="StoryboardsPresentation">
         <Priority name="Lowest"/>
         <ViewId id="storyboards.diagram.part.StoryboardsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="StoryboardsPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="storyboards.diagram.part.StoryboardsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="StoryboardsRender">
         <Priority name="Lowest"/>
         <ViewId id="storyboards.diagram.part.StoryboardsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="storyboards.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="Storyboards.diagram.general"
            name="%prefpage.Storyboards.diagram.general"
            class="storyboards.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="Storyboards.diagram.appearance"
            name="%prefpage.Storyboards.diagram.appearance"
            category="Storyboards.diagram.general"
            class="storyboards.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="Storyboards.diagram.connections"
            name="%prefpage.Storyboards.diagram.connections"
            category="Storyboards.diagram.general"
            class="storyboards.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="Storyboards.diagram.printing"
            name="%prefpage.Storyboards.diagram.printing"
            category="Storyboards.diagram.general"
            class="storyboards.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="Storyboards.diagram.rulersAndGrid"
            name="%prefpage.Storyboards.diagram.rulersAndGrid"
            category="Storyboards.diagram.general"
            class="storyboards.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="Storyboards.diagram"
            labelProvider="storyboards.diagram.sheet.StoryboardsSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="Storyboards.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="Storyboards.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="storyboards.diagram.sheet.StoryboardsPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="storyboards.diagram.navigator.StoryboardsAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="storyboards.diagram.providers.StoryboardsViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Storyboards"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2006,2012,2007,2008,2009,2010"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002,4004,4006"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="storyboards.diagram.providers.StoryboardsEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Storyboards"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2006,2012,2007,2008,2009,2010"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002,4004,4006"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5005,5010,5006,5007,5008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="storyboards.diagram.providers.assistants.StoryboardsModelingAssistantProviderOfStoryboardDiagramEditPart">
         <Priority name="Lowest"/>
         <object class="storyboards.diagram.edit.parts.StoryboardDiagramEditPart" id="StoryboardDiagram_1000"/>
         <context elements="StoryboardDiagram_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="storyboards.diagram.providers.assistants.StoryboardsModelingAssistantProviderOfActionEditPart">
         <Priority name="Lowest"/>
         <object class="storyboards.diagram.edit.parts.ActionEditPart" id="Action_2006"/>
         <context elements="Action_2006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="storyboards.diagram.providers.assistants.StoryboardsModelingAssistantProviderOfStoryboardEditPart">
         <Priority name="Lowest"/>
         <object class="storyboards.diagram.edit.parts.StoryboardEditPart" id="Storyboard_2012"/>
         <context elements="Storyboard_2012"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="storyboards.diagram.providers.assistants.StoryboardsModelingAssistantProviderOfStartNodeEditPart">
         <Priority name="Lowest"/>
         <object class="storyboards.diagram.edit.parts.StartNodeEditPart" id="StartNode_2007"/>
         <context elements="StartNode_2007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="storyboards.diagram.providers.assistants.StoryboardsModelingAssistantProviderOfPropertyEditPart">
         <Priority name="Lowest"/>
         <object class="storyboards.diagram.edit.parts.PropertyEditPart" id="Property_2008"/>
         <context elements="Property_2008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="storyboards.diagram.providers.assistants.StoryboardsModelingAssistantProviderOfEndNodeEditPart">
         <Priority name="Lowest"/>
         <object class="storyboards.diagram.edit.parts.EndNodeEditPart" id="EndNode_2009"/>
         <context elements="EndNode_2009"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="storyboards.diagram.providers.assistants.StoryboardsModelingAssistantProviderOfConditionEditPart">
         <Priority name="Lowest"/>
         <object class="storyboards.diagram.edit.parts.ConditionEditPart" id="Condition_2010"/>
         <context elements="Condition_2010"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="storyboards.diagram.providers.StoryboardsIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="storyboards.diagram.providers.StoryboardsParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <metamodelType
               id="Storyboards.diagram.StoryboardDiagram_1000"
               name="%metatype.name.StoryboardDiagram_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="StoryboardDiagram"
               edithelper="storyboards.diagram.edit.helpers.StoryboardDiagramEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <metamodelType
               id="Storyboards.diagram.Action_2006"
               name="%metatype.name.Action_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Action"
               edithelper="storyboards.diagram.edit.helpers.ActionEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <metamodelType
               id="Storyboards.diagram.Storyboard_2012"
               name="%metatype.name.Storyboard_2012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Storyboard"
               edithelper="storyboards.diagram.edit.helpers.StoryboardEditHelper">
            <param name="semanticHint" value="2012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <metamodelType
               id="Storyboards.diagram.StartNode_2007"
               name="%metatype.name.StartNode_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="StartNode"
               edithelper="storyboards.diagram.edit.helpers.StartNodeEditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <metamodelType
               id="Storyboards.diagram.Property_2008"
               name="%metatype.name.Property_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Property"
               edithelper="storyboards.diagram.edit.helpers.PropertyEditHelper">
            <param name="semanticHint" value="2008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <metamodelType
               id="Storyboards.diagram.EndNode_2009"
               name="%metatype.name.EndNode_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EndNode"
               edithelper="storyboards.diagram.edit.helpers.EndNodeEditHelper">
            <param name="semanticHint" value="2009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <metamodelType
               id="Storyboards.diagram.Condition_2010"
               name="%metatype.name.Condition_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Condition"
               edithelper="storyboards.diagram.edit.helpers.ConditionEditHelper">
            <param name="semanticHint" value="2010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <metamodelType
               id="Storyboards.diagram.ConditionPath_4001"
               name="%metatype.name.ConditionPath_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ConditionPath"
               edithelper="storyboards.diagram.edit.helpers.ConditionPathEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <specializationType
               id="Storyboards.diagram.ActionProperties_4002"
               name="%metatype.name.ActionProperties_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <specializationType
               id="Storyboards.diagram.StartNodeFirstNode_4004"
               name="%metatype.name.StartNodeFirstNode_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///auth/storyboards.ecore">
         <specializationType
               id="Storyboards.diagram.ActionNodeNextNode_4006"
               name="%metatype.name.ActionNodeNextNode_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4006"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="Storyboards.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="Storyboards.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="Storyboards.diagram.TypeContext">
         <elementType ref="Storyboards.diagram.StoryboardDiagram_1000"/>
         <elementType ref="Storyboards.diagram.Action_2006"/>
         <elementType ref="Storyboards.diagram.Storyboard_2012"/>
         <elementType ref="Storyboards.diagram.StartNode_2007"/>
         <elementType ref="Storyboards.diagram.Property_2008"/>
         <elementType ref="Storyboards.diagram.EndNode_2009"/>
         <elementType ref="Storyboards.diagram.Condition_2010"/>
         <elementType ref="Storyboards.diagram.ConditionPath_4001"/>
         <elementType ref="Storyboards.diagram.ActionProperties_4002"/>
         <elementType ref="Storyboards.diagram.StartNodeFirstNode_4004"/>
         <elementType ref="Storyboards.diagram.ActionNodeNextNode_4006"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="Storyboards.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="Storyboards.diagram"
           properties="isURIEditorInput"
           class="storyboards.diagram.part.StoryboardsUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="Storyboards.diagram.resourceContent"/>
			<contentExtension pattern="Storyboards.diagram.domainResourceContent"/>
            <contentExtension pattern="Storyboards.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="Storyboards.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="Storyboards.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="storyboards.diagram.navigator.StoryboardsNavigatorContentProvider" 
            labelProvider="storyboards.diagram.navigator.StoryboardsNavigatorLabelProvider"
            icon="icons/obj16/StoryboardsDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="sbd"/>
               </and>
               <instanceof value="storyboards.diagram.navigator.StoryboardsAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="storyboards.diagram.navigator.StoryboardsAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="Storyboards.diagram.navigatorSorter" 
               class="storyboards.diagram.navigator.StoryboardsNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="sbd"/>
                  </and>
                  <instanceof value="storyboards.diagram.navigator.StoryboardsAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="Storyboards.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="storyboards.diagram.navigator.StoryboardsDomainNavigatorContentProvider" 
            labelProvider="storyboards.diagram.navigator.StoryboardsDomainNavigatorLabelProvider"
            icon="icons/obj16/StoryboardsDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="storyboards"/>
               </and>
               <instanceof value="storyboards.diagram.navigator.StoryboardsDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="storyboards.diagram.navigator.StoryboardsDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="Storyboards.diagram.navigatorActionProvider"
            class="storyboards.diagram.navigator.StoryboardsNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="storyboards.diagram.navigator.StoryboardsAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="Storyboards.diagram.navigatorLinkHelper"
            class="storyboards.diagram.navigator.StoryboardsNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="Storyboards.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="storyboards.diagram.navigator.StoryboardsAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="storyboards.diagram.part.StoryboardsDiagramUpdateCommand"
         description="%update.diagram.description"
         id="storyboards.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="storyboards.diagram.updateDiagram"
         contextId="storyboards.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="Storyboards.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="storyboards.diagram.part.StoryboardsDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="storyboards.diagram.edit.parts.StoryboardDiagramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="storyboards.diagram.part.StoryboardsDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="Storyboards.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="storyboards.diagram.part.StoryboardsDiagramEditorID"
         defaultHandler="storyboards.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="storyboards.diagram.providers.StoryboardsMarkerNavigationProvider">
         <MarkerType name="Storyboards.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

<extension id="diagnostic" name="Storyboards Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   <!-- optionally, specify keybindings -->
</plugin>
